{% set programs = page.collection({'items':{'@page.children': '/about/programs'}, 'pagination': true, 'limit': 10, 'order': {'by': 'default', 'dir': 'asc'}}) %}
{% extends 'partials/home_base.html.twig' %}
{% block content %}
<div class="hero">
  <div id="top-nav">
      <img class="logo" src="{{ url('theme://images/logo.png') }}">
      <input id="burger" type="checkbox" />
      <label for="burger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
      </label>
      <nav>
       {% include 'partials/navigation.html.twig' %} 
        
      </nav>
    </div>
   <div class="cont">
      <h2 id="slogan">Inspiring the Next Generation</h2>
      <h5 id="hero-sub">Helping youth in the Caribbean explore their passion as techies and entrepreneurs.</h5>
      <a class="waves-effect waves-light btn">learn more</a>
   </div>
</div>
<main>
   <div class="container">
      <div class="section home-involved">
         <h5 class="white-text center home-sub">Get Involved</h5>
         <ul class="ch-grid">
            <div class="row center">
               <div class="col s4">
                  <li>
                     <div class="ch-item" style="background-image: url('{{ url('theme://images/home_involved1.JPG') }}');">
                        <div class="ch-info">
                           <h3>Make an Impact</h3>
                           <p><a href="#">Learn More</a><i class="rarrow material-icons">keyboard_arrow_right</i></p>
                        </div>
                     </div>
                  </li>
               </div>
               <div class="col s4">
                  <li>
                     <div class="ch-item" style="background-image: url('{{ url('theme://images/home_involved2.JPG') }}');">
                        <div class="center ch-info">
                           <h3>Make an Impact</h3>
                           <p class="center valign-wrapper"><a href="#">Learn More</a><i class="rarrow material-icons">keyboard_arrow_right</i></p>
                        </div>
                     </div>
                  </li>
               </div>
               <div class="col s4">
                  <li>
                     <div class="ch-item" style="background-image: url('{{ url('theme://images/home_involved3.JPG') }}');">
                        <div class="ch-info">
                           <h3>Partner with Us</h3>
                           <p><a href="#">Learn More</a><i class="rarrow material-icons">keyboard_arrow_right</i></p>
                        </div>
                     </div>
                  </li>
               </div>
            </div>
            <div class="row center">
               <div class="col s4 center">
                   <h5 class="white-text home-sub-mini">Volunteer With Us</h5>
               </div>
               <div class="col s4 center">
                   <h5 class="white-text home-sub-mini">Sponsor Us</h5>
               </div>
               <div class="col s4 center">
                   <h5 class="white-text home-sub-mini">Sponsor Us</h5>
               </div>
            </div>
         </ul>
        <!--  <div class="row">
         <div class="col s4">
            <p class="home-sub-green center">Volunteer With Us</p>
         </div>
         <div class="col s4">
            <p class="home-sub-green center">Volunteer With Us</p>
         </div>
         <div class="col s4">
            <p class="home-sub-green center">Volunteer With Us</p>
         </div>
         </div> -->
      </div>
      <div class="section home-join">
         <h5 class="white-text center home-sub">Join the Community</h5>
         <div class="valign-wrapper center-align row">
            <div class="col s12">
              <div class="hmph">
               <img class="responsive-img z-depth-1" src="https://s-media-cache-ak0.pinimg.com/originals/c7/85/6c/c7856c99bb69561e1b9b49d4999860d8.jpg">

               <div class="home-below-text left-align">
                  <p class="white-text">You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. Eliptical talk. Fan luv. Find peace, life is like a water fall, you’ve gotta flow. </p>
               </div>
               </div>
               <a class="waves-effect waves-light center btn" href="#">join us</a>
            </div>
         </div>
      </div>
      <div class="section home-programs">
         <h5 class="white-text center home-sub">Our Programs</h5>
         {% include 'partials/program_list.html.twig' %} 
      </div>
      <div class="section home-contact">
         <h5 class="white-text center home-sub">Contact Us</h5>
         <p class="white-text">Email: info@nextgencreators.com</p>
         <p class="white-text">Cell-Phone: 876-451-3421</p>
         <div class="row center">
            <div class="col s12 l8 push-l2 pull-l2">
               {% include 'forms/form.html.twig' %}
            </div>
         </div>
      </div>
      <div class="section home-sponsors">
         <h5 class="white-text center home-sub">Sponsors and Donors</h5>
         <div class="center row">
            <div class="col s6">
               <img class="responsive-img" src="https://cdn.dribbble.com/assets/dribbble-logo-graph-dnld-a5f51e6e8f6c6bd334b1dc962110bdbf8d19c56d81b767e144e7de7b15689618.png">
            </div>
            <div class="col s6">
               <img class="responsive-img" src="https://cdn.dribbble.com/assets/dribbble-logo-graph-dnld-a5f51e6e8f6c6bd334b1dc962110bdbf8d19c56d81b767e144e7de7b15689618.png">
            </div>
         </div>
      </div>
   </div>
</main>
{% endblock %}