{% set programs = page.collection({'items':'@self.children', 'pagination': true, 'limit': 10, 'order': {'by': 'default', 'dir': 'asc'}}) %}
{% embed 'partials/base.html.twig' %}
{% block content %}
<main class="programs">
  <div class="container page-container">
   <div class="section">
    <h3 class="page-header white-text">{{ page.title }}</h3>
    
    <div class="row white-text source-sans-pro">
      <div class="col l8 m12">
 		<p class="white-text source-sans-pro">{{ page.content }}</p>
      </div>
    </div>
 	{% include 'partials/program_list.html.twig' %} 
    
  	</div>
  </div>
</main>
{% endblock %}
{% endembed %}

