{% set programs = page.collection({'items':'@self.children', 'pagination': true, 'limit': 10, 'order': {'by': 'default', 'dir': 'asc'}}) %}
{% embed 'partials/base.html.twig' %}
{% block content %}
<main class="programs">
  <div class="container page-container">
   <div class="section">
    <h3 class="page-header white-text">Our Programs</h3>
    
    <div class="row">
      <div class="col s6">
 <p class="white-text muli">The key to more success is to get a massage once a week, very important, major key, cloth talk. The key to more success is to have a lot of pillows. </p>
      </div>
    </div>
 {% include 'partials/program_list.html.twig' %} 
    
  </div>
  </div>
</main>
{% endblock %}
{% endembed %}

