{% extends 'partials/base.html.twig' %}

{% block content %}


<div class="container page-container profiles">
   <h3 class="page-header white-text">The Team</h3>
   <div class="row">
      <div class="col s6">
 <p class="white-text muli">The faces behind it all</p>
      </div>
    </div>
   <div class="section">
      <div class="row">
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ url('theme://images/team_1.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Nicholas Kee<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Marco Gomez<i class="material-icons right">close</i></span>
                  <p class="team-about-text">He developed a love for programming at a very young age and has been traveling the world showing off his skills at various events. Nick’s journey is one that includes being homeless, robbed and many other misfortunes but in the end still coming out on top. </p>
                   <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">“Here’s to the crazy ones...”
         </blockquote>
               </div>
            </div>
         </div>
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ url('theme://images/team_2.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Ja’dan Johnson<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Ja’dan Johnson<i class="material-icons right">close</i></span>
                  <p class="team-about-text">Jadan started his entrepreneurial journey when he was 10 and has been unstoppable since. A true hustler and marketing genius, his achievements in the media industry make him extraordinary.</p>

    <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">"The go getter goes till he gets what he goes for. The go getter sows till he reaps what he sowed for. He fixes a goal and resolves when he sets it. The way to the prize is to go till you get it."
         </blockquote>
               </div>
            </div>
         </div>
         <div class="col s4">
            <div class="card profile-card">
               <div class="card-image waves-effect waves-block waves-light">
               	<img class="activator" src="{{ url('theme://images/team_3.JPG') }}">
               </div>
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Stephan Smith<i class="material-icons right">more_vert</i></span>
                  <p class="header-sub muli">Co-founder of Next Gen Creators</p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Stephan Smith<i class="material-icons right">close</i></span>
                  <p class="team-about-text">His tech-entrepreneurship expedition started while attending university. Stephan’s super power lies in solving problems. Inspired mostly by the Jamaican culture most of his time is spent planning and developing projects around the lifestyle.</p>
                  <p class="mantra-text">Mantra:</p>
    <blockquote class="team-about-quote">“When you want to succeed as bad as you want to breathe, then you will be successful.”
         </blockquote>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
