@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800');

$top-bg: rgb(46,52,63);
$center-bg: rgb(58,65,79);
/*$footer-bg: #292e38;*/
$blue-border: #2ad6fa;
$green: #8BDA48;
$lato: 'Lato';
$muli: 'Muli';
$bright-blue: #40c4ff;

html, body{
  width: 100%;
  background-color: $center-bg;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $lato, sans-serif;
}

.responsive-tri {
  max-height: 36vh;
  height: auto;
}


main {
  flex: 1 0 auto;
  margin-top: 1em;
  z-index: 1;
  background-color: $center-bg;
}
.page-footer {
  padding-top: 2.2em !important;
  background-color: $top-bg !important;
  z-index: 1;
}



.container {
  background-color: $center-bg;
}
.container-inner {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container-inner {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container-inner {
    width: 80%;
  }
}

.container-inner-inner {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container-inner-inner {
    width: 70%;
  }
}

@media only screen and (min-width: 993px) {
  .container-inner-inner {
    width: 80%;
  }
}

.page-container {
  margin-top: 3.5em;
}
.top-padding {
  padding-top: 1em;
}
.muli {
  font-family: $muli;
  font-weight: 200;
}
.muli-bold {
  font-family: $muli;
  font-weight: 400;
}
.lato {
  font-family: $lato;
  font-weight: 400;
}
.header {
  font-weight: bold;
}
.page-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial;
  display: inline-block;
  padding: 1em 5px 3px 0;
  border-bottom: 6px solid $green;
  margin: 0;
  position: relative;
}
.page-header:after {
  content: "";
  width: 6px;
  height: 7px;
  display: block;
  background-color: $green;
  position: absolute;
  right: -3.5px;
  bottom: -4px;
  transform: rotate(-35deg);
}

.under-header-text {
  font-size: 1.15rem;
}

.subtext {
    padding-top: 2em;
}

/* based off of https://www.fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property/
replacement for background-attachment: fixed */
.hero {
  color: white;
  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element
 
  // Fixed-position background image
  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: url('../../images/hero.jpg') no-repeat center center;
    background-size: cover;
    will-change: transform; // creates a new paint layer

  }
}

#slogan {
  font-weight: 800;
  font-size: 4.75rem;
}

#hero-sub {
  padding-top: 22.5vh;
  font-weight: 400;
}
.hero .cont {
  /*padding-top: 18.5vh;*/
 /* padding-left: 4em;
  background-color: transparent;
  max-width: 40%;*/
}

.module {
  background:
   /* linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),*/
    url(https://s-media-cache-ak0.pinimg.com/236x/a5/eb/3a/a5eb3a67262b715bd938bb798ff21a9b--wood-planters-succulent-planters.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
  border-radius: 50%;
}

.mid a {
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}
/*
.mid h2 {
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
    transform: translate(-50%, -50%);
    top: 50%;
  left: 50%;
  display: inline-block;
  position: absolute;

}*/

.rarrow {
  color: $green;
  font-size: 40px !important;
  vertical-align: middle;
}
.home-fs i {
  font-size: 22px !important;
}





/*.home-programs img programs-img {
  padding-left: 2em;
  padding-right: 2em;
}*/
.hero .btn {
  margin-top: 1.5em;
}

.home-involved, .home-join, .home-programs, .home-sponsors, .home-contact {
  margin-top: 10em;
}

.content-block {
  margin-top: 5em;
}

.home-programs .row + .row {
  margin-top: 7rem;
}

.home-sub {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1.6em;
}




@media only screen and (min-width: 993px) {
  .right-text-content {
    margin-left: 1rem;
  }
  .two-right {
    /*width: 85%;*/
  }
  /*.l-program {
    margin-left: 2.7em;
  }
  .r-program {
    margin-right: 2.7em;
  }*/
  /*.programs-img {
    max-width: 85% !important;
  }*/

  /*.alternating-rows .row:nth-child(odd) .alternating-img {
    float: left !important;
  }
  .alternating-rows .row:nth-child(odd) .alternating-img > .programs-img {
    float: left !important;
  }
.alternating-rows .row:nth-child(even) .alternating-img {
  float: right !important;
}
.alternating-rows .row:nth-child(even) .alternating-img > .programs-img {
  float: right !important;
}*/
}

.home-sub-mini {
 /* color: $green;*/
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
 /* position: absolute;
  margin-left: 2.5em;*/
}

.hero-learn {
  text-transform: uppercase;
  font-weight: 400;
}
.home-below-text {
  margin: 0 auto;
  p {
    font-size: 1.2rem;
  }
}

.about-below-text {
  width: 20em;
  margin: 0 auto;
}

@media only screen and (max-width: 675px) {
  .home-below-text {
   width: 90%;
  }
}

.photo-grid {
  margin: 1em auto;
  max-width: 1106px;
  text-align: center;
}

/* circle hover styles based off of http://geekgirllife.com/animate-text-over-images-on-hover-without-javascript/ */
.photo-grid li {
  display: inline-block;
  width: 260px;
  height: 260px;
}

@media only screen and (max-width: 1090px) {
  .photo-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
  }
}

@media only screen and (max-width: 730px) {
  .photo-grid li {
    width: 175px;
    height: 175px;
    display: inline-block;
  }
}

@media only screen and (max-width: 595px) {
  .photo-grid li {
    width: 155px;
    height: 155px;
    display: inline-block;
  }
}


.photo-grid img {
  display: block;
  height: auto;
  max-width: 100%;
}

.photo-grid .fig {
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  box-shadow: inset 0 0 0 4.5px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
  background-size: cover;
  background-position: center;
}

.photo-grid .inner-content {
  background: rgba(64,196,255, 0.65);
  color: white;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}

.photo-grid .inner-content p, .photo-grid .inner-content a {
  padding-left: 5px;
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
   -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: middle;
  vertical-align: middle;
}

.photo-grid .inner-content p {
  width: 80%;
}

.photo-grid .inner-content a {
  width: 20%;
}
.photo-grid li:hover .inner-content {
  opacity: 1;
}

.photo-grid li:hover .inner-content p, .photo-grid li:hover .inner-content a {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}


.btn {
  background-color: $green !important;
  border-radius: 25px !important;
}

/*@media only screen and (min-width: 1362px) {
  .hero .cont  {
    max-width: 39%;
    padding-left: 9em;
  }
}
@media only screen and (min-width: 601px) {
  .hero .cont  {
    max-width: 70%;
    padding-left: 5em;
  }
}

@media only screen and (min-width: 993px) {
  .hero .cont  {
    max-width: 50%;
    padding-left: 9em;
  }
}*/

.project-descr {
  width: 85%;
  margin: 0 auto;
}
.img-header {
  width: 100%;
}
.zero-line-height {
  line-height: 0;
}
.programs .row {
  margin-bottom: 5em;
}

.indiv-img-cover-wrapper {
  height: 21em;
}
.indiv-img-cover {
  width: 100%;
  height: 100%;
}

.category-list-title {
  color: white;
  font-weight: 600;
}
#event-title {
  text-transform: uppercase !important;
}
.card-upper {
    text-transform: uppercase;
}
.card-lower {
    color: $green;
    font-size: 1.3rem;
  }
.gi-proj-card {
  background-color: $top-bg;
  .card-upper, .card-lower {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 400;
  }
  .date {
    padding-bottom: 0.2em !important;
  }
}

.gi-proj-card h1, .calendar-event-card h1 {
  padding: 0 !important;
  font-size: 5rem;
}

.gi-proj-card h1 {
  margin: 0 !important;
}
.calendar-event-card h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.gi-sec-link {
  .fa {
    color: $green;
    margin-left: 0.7em;
    font-size: 1.75rem;
  }
  a {
    display: inline;
    float: right;
    text-transform: uppercase;
    font-weight: 400 !important;
  }
}

.gi-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.gi-sec {
  margin-bottom: 5em;
}


.job-card {
  @extend .ng-card;
  min-height: 300px;
  .card-title {
    display: block;
    line-height: 32px;
    font-size: 22px;
  }
}

.event-card {
  @extend .ng-card;
  min-height: 170px;
  .header-loc {
    margin: 0 !important;
  }
}


.calendar-event-card {
  background-color: $top-bg;
  .card-title {
    margin-bottom: 0 !important;
  }
}

/*job*/
.ng-card {
  padding: 2em;
  overflow: none;
  height: 100%;
  background-color: $top-bg;
  border-top: 1px solid $blue-border;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: flex;
  item-align: stretch;

  .item {
    flex: 1 1 auto;
    width: 20%;
  }
  .card-right {
    padding-left: 1.2em;
  }
  .card-left {
    flex: 0 0 auto;
  }
  .header-mini {
    margin: 0 !important;
    font-weight: 600;
    color: white;
    font-size: 1.3em;
    letter-spacing: 1px;
    display: inline-block;
  }
  .header-sub {
    margin: 0 !important;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    line-height: 17px;
  }
  .header-loc {
    font-size: 1em;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #cccccc;
    margin: 0 auto;
  }
  .bottom-text {
   vertical-align: text-bottom;
  }
}

.job-loc-img {
  height: 100%;
  width: 100%;
}

.spacing {
  padding-bottom: 2em !important;
}

.job-desc, .job-desc p {
  padding-top: 5px;
  color: white;
  font-size: 0.9em;
  line-height: 19px;
}

.event-desc, .event-desc p {
  padding-top: 5px;
  color: white;
  font-size: 1rem;
/*  line-height: 19px;*/
}

#quote {
  font-weight: 300;
  font-style: italic;
}
#quote-person {
  font-weight: 300;
}
#about-team-sec .card {
  margin: 0 auto;
/*  width: 15em !important;*/
}

.top-align-p {
  margin: 0;
}

#fund-graph {
  width: 50% !important;
  height: 18em !important;
}
.profile-card {
  /*width: 14em;*/
  margin: 0 auto;
}
.profile-card {
  .card-content .card-title {
    margin: 0;
    line-height: 1.2;
  }
  .card-content {
    padding: 15px 24px;
  }
}
.slider-img.responsive-img {
  max-width: 100% !important;
}
#slider-img.l1 {
  background-image: url(https://static.pexels.com/photos/207962/pexels-photo-207962.jpeg);
}
.pagination li a {
  color: white !important;
}
.pagination li.active {
    background-color: $bright-blue !important;
}


@media only screen and (max-width: 720px) {
  #about-team-sec .card {
  margin: 0 auto;
  width: auto !important;
}
}


blockquote {
  border-left: 5px solid $bright-blue !important;
}
.poly {
  border: 2px solid $bright-blue;
  width: 18em;
  height: 17em;
  display: inline-block;
  background-color: $top-bg;
 -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.poly-right {
  margin-left: -3.5em !important;
}

.approach-icon {
  font-size: 3rem;
}


/*team*/
.team-header {
  color: white;
  font-weight: 300;
  padding-left: 10%;
}

.mantra-text {
  margin-bottom: 0;
}
.team-about-text {
  font-size: 0.8rem;
}
.team-about-quote {
  font-style: italic;
  font-size: 0.8rem;
  margin-top: 0.4rem !important;
}
.card-title {
  font-weight: 400 !important;
}
.four {
  padding: 2em 1em;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
/*  background-color: $top-bg;*/
  border-top: 0.5px solid $blue-border;
  margin-bottom: 1.6em;
}
.prof-pic {
  border-radius: 50%;
  width: 40%;
}

.profiles {
  .header-mini {
    padding-top: 1.15em;
    margin: 0;
    color: #131313;
    font-size: 1.1em;
    font-weight: 700;
    padding-bottom: 0.4em;
  }
  .header-sub {
    margin: 0;
   /* color: #c3f4ed;*/
   color: #b3c2c3;
    font-size:12px;
    font-weight: 300;
    padding-bottom: 0.45em;
  }
  .fa {
    margin-left: 5px;
    margin-right: 13px;
  }
}

.top-bg {
  background-color: $top-bg !important;
}
.card {
  border-top: 2.5px solid $blue-border;
}

.gb li::before {
    content: "\2022";
    color: $green;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 15px;
    padding-bottom: 0.35rem;
}
.gb {
list-style: none;
}

.gift-icon {
  color: white;
  font-size: 4em !important;
}

.s-green {
  background-color: $green !important;
}

/*.carousel-indicators {
  bottom: 0;
}
*/
.carousel .item {
  min-height: calc(100vh*0.4);
  height: 100%;
  width: 100%;
}

.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
}



.background {

    background: url(http://www.advancedbroadcastsolutions.com/wp-content/uploads/2012/02/live-event-stock-photo-hands-at-concert.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

/*.carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
*/
.carousel-caption {
    position: relative;
    bottom: auto !important;
    padding-top: calc(100vh * 0.45) !important;
    color: black !important;
    text-shadow: none !important;
    text-align: initial !important;
    padding-bottom: 0 !important;
    right: 11.5% !important;
    left: 11.5% !important;

}

.carousel-inner {
  overflow: visible !important;
}

.carousel-inner p {
  padding-left: 2em;
}

.carousel {
  background-color: $center-bg !important;
}
/*adfa*/
#sponsor-logo-upload input[type=text]:not(.browser-default) {
  background-color: white !important;
  height: 15rem !important;
  font-size: 1.5rem !important;
  color: black !important;
}

.select-wrapper input.select-dropdown {
  height: 4.5rem !important;
  background-color: white !important;
}

.select-wrapper span.caret {
  color: #26a69a !important;
  z-index: 10;
  font-size: 18px !important;
  right: 0.5em !important;
}

.dropdown-content li > span {
/*  color: #64dd17 !important;*/
}

.select-wrapper input.select-dropdown {
  text-align: center;
}

.volunteer-section {
  background-color: white;
  border: 2.4px solid #40c4ff;
  border-radius: 14px;
  padding: 2.5rem 2rem 1rem 3rem;
  margin-bottom: 2rem;
  .form-label label {
   display: none !important;
  }
  label {
    font-size: 1.5rem;
  }
}

label {
  display: block !important;
}

/*.volunteer-section*/
[type="checkbox"]:not(#burger) + label {
  color: black;
  height: 3.7rem !important;
  line-height: 18px !important;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #40c4ff !important;
  background-color: #40c4ff !important;
}


[type="checkbox"].filled-in:not(:checked) + label:after {
    border: 2px solid #40c4ff !important;
}

/*#volunteer-form {
  background-color: white;
  padding: 1em 2em;
  margin-bottom: 2em;
}

#volunteer-form label {
  font-size: 1.5rem;
}
label {
  display: block !important;
}

#volunteer-form [type="checkbox"] + label {
  color: black;
  height: 45px !important;
  line-height: 18px !important;
}


#volunteer-form [type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #40c4ff  !important;
  background-color: #40c4ff !important;
}


#volunteer-form [type="checkbox"].filled-in:not(:checked) + label:after {
    border: 2px solid #40c4ff !important;
}*/

#vf2 {
  color: white;
  margin: 0 auto;
}
/*#vf2 input[type=text]:not(.browser-default), input[type=email]:not(.browser-default) {
  border-bottom: 1px solid #40c4ff !important;
}*/
/*vf2*/
/*input[type=text]:not(.browser-default), input:not(.browser-default) {
  border-bottom: 1px solid #40c4ff !important;
}*/
input:not([type]):not(.browser-default):focus:not([readonly]) + label {
  color: #40c4ff !important;
}
input:not([type=checkbox]):not(.browser-default):focus:not([readonly]) + label {
  /*color: #40c4ff !important;*/
  border-bottom: $bright-blue !important;
}

input:not([type]):focus:not([readonly]) + label, input[type]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea {
  border-bottom: 1px solid #40c4ff !important;
}

.buttons {
  text-align: center;
}
.button-section {
  margin-top: 3rem;
}
.df {
  display: inline-block;
  margin: 0 auto;
  .btn {
    background-color: #aeea00 !important;
    padding: 0 5rem !important;
    padding-top: 2em;
  }
}

.arrow {
  color: #aeea00;
}

.arrow-big {
  color: #aeea00;
  font-size: 4rem !important;
}

.collapsible-header {
  background-color: $center-bg !important;
  border-top: 1px solid #40c4ff !important;
  border-bottom: 1px solid #40c4ff !important;
  border-bottom: none !important;
}

.collapsible-body {
  border: none !important;
}

.collapsible {
  border: none !important;
  box-shadow: none !important;
}

#map {
  height: 100%;
}


/*nav2*/
.logo {
position: relative;
z-index: 6;
height: 3em;
float: left;
padding-top: 7px !important;
padding: 0 6%;
}

/* based off of https://codepen.io/philhoyt/pen/ujHzd*/
.nav {
  font-size: 1rem;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*padding: 0;*/
   /* padding: em 2em;*/
    z-index: 100;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: $top-bg;    
    text-align: center;
   /* line-height: 40px;*/
}

.nav ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

.nav ul a
{
  display:block;
  color: #dddddd;
  text-decoration:none;
 /* font-weight:700;*/

  line-height:52px;
  padding:0 15px;
  }

.nav ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

.nav ul li.current-menu-item
{
  background:#ddd
}

.nav ul a:hover
{
  color: #fff !important;
/* background: #dddddd;*/
}

.nav ul ul
{
  z-index: 1000;
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:$top-bg;
  padding:0
}

.nav ul ul li
{
  float:none;
  width:200px
}

.nav ul ul a
{
  line-height:120%;
  padding:10px 15px
}

.nav ul ul ul
{
  top:0;
  left:100%
}

.nav ul li:hover > ul
{
  display:block
}
.nav.active {
    background: #fff;
    
}

.nav.active ul a {
  color: $center-bg;
}
.nav.active ul a:hover {
  color: black !important;
}
.nav.active ul ul
{
  background: #fff;
}

.form-input-file input {
    display: block !important;
}


.focused-input-blue {
  color: $bright-blue !important;
}

.input-field input {
  color: white;
}

/*hacky materialize checkbox override*/
#top-nav [type="checkbox"].filled-in:not(:checked) + label:after {
  border: none !important;
  }

#top-nav [type="checkbox"].filled-in:checked + label:after {
  background-color: transparent !important;
  border: none !important;
}

#top-nav [type="checkbox"].filled-in + label:before, #top-nav [type="checkbox"].filled-in + label:after {
  opacity: 0 !important;
}



